@media(max-width: 990px) {
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    @function convert($px) {
        @return ($px/3.90) * 1vw;
    }

    * {
        margin: 0;
        padding: 0;

        .container {
            max-width: convert(347);

        }

        body {
            &.navOpen {
                position: relative;
                height: 100%;
                overflow: hidden;

                &::before {
                    content: "";
                    background-color: rgba(0, 0, 0, 0.425);
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                }

                header {
                    &::before {
                        content: "";
                        background-color: rgba(0, 0, 0, 0.425);
                        opacity: 1;
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 2;
                    }

                    .container {
                        .header-holder {
                            .btns {
                                transform: translate(0, 0);
                                transition: 0.5s ease-in;


                            }
                        }
                    }
                }
            }
        }


        header {
            background: #141C25;
            height: convert(58);
            position: sticky;
            top: 0;
            z-index: 10;

            .container {

                .header-holder {
                    display: flex;
                    padding-top: convert(19);
                    width: 100%;
                    justify-content: space-between;

                    .hamburger {
                        background-color: #141C25;
                        width: convert(25);
                        height: 5.410256vw;
                        display: flex;
                        flex-direction: column;
                        gap: convert(5);


                        span {
                            background-color: #FFF;
                            display: block;
                            width: convert(25);
                            height: convert(3);
                            border-radius: convert(10);

                        }

                    }

                    .logo {
                        width: convert(116);
                        height: 7.128205vw;

                        img {
                            width: 100%;
                            height: 100%;

                        }
                    }

                    .btns {
                        background-color: #141C25;
                        z-index: 100;
                        height: 100vh;
                        width: 60%;
                        position: fixed;
                        top: 0;
                        right: 0;
                        padding-left: 6.846154vw;
                        padding-right: 9.846154vw;
                        padding-top: convert(15);
                        transform: translate(110%, 0);

                        .phone-logo {
                            text-align: center;
                            padding-bottom: convert(20);
                            border-bottom: convert(2) solid #2d2f39;
                            margin-bottom: convert(20);

                            img {
                                height: 10.692308vw;

                            }
                        }

                        .head-list {
                            background-color: #141C25;
                            position: relative;

                            svg {
                                height: convert(20);
                                width: convert(20);
                            }

                            li {
                                margin-bottom: convert(10);
                                list-style-type: none;
                                display: flex;

                                .dropdown {
                                    button {
                                        margin: auto;
                                        color: #FFF;
                                        font-family: "Roboto", sans-serif;
                                        font-size: convert(13.338);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        background-color: #141C25;
                                        border: none;
                                        align-items: center;
                                        justify-content: center;
                                        padding: 0;

                                        &:hover,
                                        &:focus,
                                        &:active {
                                            border: none;
                                            outline: none;
                                            box-shadow: none;

                                        }
                                    }
                                }

                                a {
                                    color: #FFF;
                                    font-family: "roboto", sans-serif;
                                    font-size: convert(13.338);
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                    text-decoration: none;
                                    display: flex;
                                    align-items: center;
                                    gap: convert(10);
                                    padding: convert(6);


                                    &.log {

                                        position: fixed;
                                        bottom: 10vh;
                                    }


                                    &:hover,
                                    &:active,
                                    &:focus {
                                        background-color: #2d2f39;
                                        border-radius: convert(10);
                                    }

                                }

                            }
                        }
                    }
                }
            }
        }

        .fading {
            margin-bottom: convert(28);
            width:100%;

            .container {
                padding: 0;
                margin: 0;
                max-width: 100%;

                .fade-holder {
                    width: 100%;

                    .text {
                        margin-left: convert(26);

                        p {
                            color: #141C25;
                            font-family: Graphik;
                            font-size: convert(25);
                            font-style: normal;
                            font-weight: 700;
                            line-height: convert(49.852);
                            /* 199.407% */

                            span {
                                color: #226E65;
                            }
                        }
                    }

                    .para {
                        width: convert(390);
                        height: convert(220);
                        overflow: hidden;
                        margin-top: convert(-137);
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;

                        }



                        p {
                            position: absolute;
                            top: convert(77);
                            right: 0;
                            left:0;
                            color: #161C28;
                            text-align: center;
                            font-family: "Lato", sans-serif;
                            font-size: convert(13);
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;

                        }
                    }

                    .phone-slide1 {
                        margin-bottom: convert(35);

                        .splide-phone1 {
                            .splide__track {
                                .splide__list {
                                    .splide__slide {
                                        width: convert(390);
                                        height: convert(200.192);

                                    }
                                }
                            }
                        }

                        .phone {
                            //width: convert(390);
                            //height: convert(200.192);
                            padding-left: convert(4);

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .phone-slide2 {
                        margin-bottom: convert(35);

                        .splide-phone2 {
                            .splide__track {
                                .splide__list {
                                    .splide__slide {
                                        width: convert(390);
                                        height: convert(200.192);

                                    }
                                }
                            }
                        }

                        .phone {
                            //width: convert(390);
                            //height: convert(200.192);
                            padding-left: convert(4);

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .sliding {
                        position: relative;

                        .country {
                            position: absolute;
                            bottom: convert(125);
                            left: 0;
                            width: 100%;
                            z-index: 1;
                            left: convert(-6);

                            p {
                                color: #FFF;
                                text-align: right;
                                font-family: Graphik;
                                font-size: convert(63.293);
                                font-style: normal;
                                font-weight: 700;
                                line-height: convert(82.281);
                                /* 130% */
                                z-index: 1;
                                margin: 0;
                            }
                        }

                        .country1 {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            top: convert(150);
                            z-index: 1;

                            p {
                                color: #FFF;
                                text-align: left;
                                font-family: Graphik;
                                font-size: convert(63.293);
                                font-style: normal;
                                font-weight: 700;
                                line-height: convert(82.281);
                                /* 130% */
                                z-index: 1;
                                margin: 0;
                            }
                        }

                        .splide {

                            .splide__track {
                                .splide__list {
                                    .splide__slide {
                                        width: convert(390);
                                        height: convert(355);

                                    }
                                }
                            }
                        }

                        .single {
                            .image {
                                width: convert(390);
                                height: convert(355);
                                overflow: hidden;
                                border-top-right-radius: convert(29.097);
                                border-top-left-radius: convert(29.097);


                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                        }
                    }
                }
            }
        }

        .pictures {

            .container {
                .pictures-holder {
                    .text {
                        p {
                            color: #141C25;
                            font-family: Graphik;
                            font-size: convert(25);
                            font-style: normal;
                            font-weight: 700;
                            line-height: convert(49.852);

                            span {
                                color: #226E65;
                            }
                        }
                    }

                    .image-holder {

                        .image1,
                        .image2,
                        .image3,
                        .image4 {
                            width: 100%;
                            height: convert(140);
                            margin-bottom: convert(19);
                            position: relative;
                            border-radius: convert(20);
                            overflow: hidden;

                            .gradient {
                                position: absolute;
                                background: rgba(141, 141, 141, 0.3);
                                backdrop-filter: blur(convert(8));
                                bottom: convert(-1);
                                z-index: 5;
                                width: 100%;
                                border-bottom-right-radius: convert(20);
                                border-bottom-left-radius: convert(20);
                                

                                p {
                                    width: max-content;
                                    margin: auto;
                                    color: #FFF;
                                    text-align: center;
                                    font-family: Graphik;
                                    font-size: convert(22);
                                    font-style: normal;
                                    font-weight: 700;
                                    /* 420.452% */
                                }
                            }


                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-bottom-right-radius: convert(20);
                                border-bottom-left-radius: convert(20);
                                transform: scale(1.1);
                            }
                        }

                    }

                    .row1 {
                        display: none;
                        margin-bottom: convert(48);

                        .holder {
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;

                            .manali {
                                position: absolute;
                                bottom: 0;
                                right: convert(643);

                                p {
                                    color: #FFF;
                                    text-align: center;
                                    font-family: Graphik;
                                    font-size: convert(37.026);
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: convert(48.133);
                                    /* 130% */
                                }
                            }

                            .image1 {
                                width: 37.37%;
                                height: convert(330);
                                border-radius: convert(30);
                                overflow: hidden;
                                position: relative;

                                .goa {
                                    position: absolute;
                                    bottom: 0;
                                    left: convert(24);

                                    p {
                                        color: #FFF;
                                        text-align: center;
                                        font-family: Graphik;
                                        font-size: convert(37.026);
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: convert(48.133);
                                        /* 130% */
                                    }
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                            }

                            .image2 {
                                width: 37.37%;
                                height: convert(330);
                                border-radius: convert(30);
                                overflow: hidden;
                                margin-left: 5.79%;
                                position: relative;

                                .manali {
                                    position: absolute;
                                    bottom: 0;
                                    left: convert(24);

                                    p {
                                        color: #FFF;
                                        text-align: center;
                                        font-family: Graphik;
                                        font-size: convert(37.026);
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: convert(48.133);
                                        /* 130% */
                                    }
                                }


                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                            }

                            .para {
                                width: 13.58%;
                                color: #000;
                                font-family: "Lato", sans-serif;
                                font-size: convert(20.638);
                                font-style: normal;
                                font-weight: 400;
                                line-height: convert(25.624);
                                /* 124.161% */
                                margin-left: 3.16%;
                            }
                        }
                    }

                    .row2 {
                        display: none;

                        .holder {
                            display: flex;
                            flex-wrap: wrap;

                            .image1 {
                                width: 37.37%;
                                height: convert(330);
                                border-radius: convert(30);
                                overflow: hidden;
                                position: relative;

                                .Andaman {
                                    position: absolute;
                                    bottom: 0;
                                    left: convert(24);

                                    p {
                                        color: #FFF;
                                        text-align: center;
                                        font-family: Graphik;
                                        font-size: convert(37.026);
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: convert(48.133);
                                        /* 130% */
                                    }
                                }


                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                            }

                            .image2 {
                                width: 37.37%;
                                height: convert(330);
                                border-radius: convert(30);
                                overflow: hidden;
                                margin-left: 5.79%;
                                position: relative;

                                .Kerala {
                                    position: absolute;
                                    bottom: 0;
                                    left: convert(24);

                                    p {
                                        color: #FFF;
                                        text-align: center;
                                        font-family: Graphik;
                                        font-size: convert(37.026);
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: convert(48.133);
                                        /* 130% */
                                    }
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                            }

                            .para {
                                width: 13.58%;
                                color: #000;
                                font-family: "Lato", sans-serif;
                                font-size: convert(20.638);
                                font-style: normal;
                                font-weight: 400;
                                line-height: convert(25.624);
                                /* 124.161% */
                                margin-right: 3.16%;
                            }
                        }
                    }
                }
            }
        }

        .gallery {
            .container {
                .title {
                    margin-bottom: convert(26);

                    h3 {
                        color: #141C25;
                        font-family: Graphik;
                        font-size: convert(25);
                        font-style: normal;
                        font-weight: 700;
                        line-height: convert(49.852);
                        /* 199.407% */
                        margin: 0;

                        span {
                            color: #226E65;
                        }
                    }

                    p {
                        color: #141C25;
                        font-family: "Lato", sans-serif;
                        font-size: convert(11);
                        font-style: normal;
                        font-weight: 400;
                        line-height: convert(27.163);
                        margin: 0;
                        /* 246.934% */
                    }
                }
            }
        }

        .group-slide {
            margin-bottom: convert(10);
            .splide3 {
                .splide__track {
                    .splide__list {
                        .splide__slide {
                            width: convert(528.731);
                            height: convert(264);
                            padding-left: convert(4);

                        }

                    }
                }
            }

            .designed-swipe {
                //width: convert(528.731);
                //height: convert(264);

                img {
                    width: 100%;
                    height: 100%;
                }

            }
        }

        footer {

            border-radius: convert(25) convert(25) 0px 0px;
            background: #141C25;
            padding-top: convert(26);

            .container {

                .contain-holder {
                    padding-left: 6.512821vw;
                    padding-right: convert(20);


                    .ending {
                        display: flex;
                        flex-wrap: wrap;
                        padding-top: 22.384615vw;

                        &>div {
                            width: 100%;
                        }

                        .copy {
                            order: 2;
                            margin: auto;
                            width: max-content;

                            p {
                                color: #FFF;
                                font-family: "Lato", sans-serif;
                                font-size: convert(8.66);
                                font-style: normal;
                                font-weight: 500;
                            }
                        }

                        .list {
                            order: 1;


                            ul {
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                padding: 0;
                                margin: 0;
                                margin-bottom: convert(23);

                                li {
                                    color: #FFF;

                                    &::marker {
                                        font-size: convert(10);
                                    }


                                    a {
                                        color: #FFF;
                                        font-family: "Lato", sans-serif;
                                        font-size: convert(10.169);
                                        font-style: normal;
                                        font-weight: 500;
                                        text-decoration: none;

                                    }
                                }
                            }
                        }
                    }

                    .footer-holder {
                        position: relative;

                        .logo-pics {

                            .logo {

                                width: convert(222);
                                height: convert(61);
                                margin-bottom: convert(10);

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                            }

                            .pics {
                                position: absolute;
                                top: calc(100% + 3vw);
                                right: convert(56);


                                .google {
                                    width: convert(70.4);
                                    height: convert(19.967);
                                    margin-bottom: convert(11.01);

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .apple {
                                    width: convert(70.4);
                                    height: convert(19.967);

                                    img {
                                        width: 100%;
                                        height: 100%;

                                    }
                                }
                            }
                        }

                        .lists {
                            display: flex;
                            gap: convert(40);
                            line-height: 8vw;


                            ul {
                                padding: 0;
                                margin: 0;
                                padding-left: 0;

                                .special {
                                    margin: 0;

                                    a {

                                        color: #FFF;
                                        font-family: "Lato", sans-serif;
                                        font-size: convert(12.881);
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: normal;
                                        text-decoration: none;
                                    }
                                }

                                li {
                                    list-style-type: none;
                                    margin: 0;


                                    a {
                                        color: #A6A6A6;
                                        font-family: "Lato", sans-serif;
                                        font-size: convert(13.062);
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: normal;
                                        text-decoration: none;

                                        &:hover,
                                        &:active,
                                        &:focus {
                                            color: #FFF;
                                        }
                                    }
                                }
                            }

                            .li3 {
                                position: absolute;
                                display: flex;
                                bottom: convert(-48);
                                gap: convert(13.62);



                                li {


                                    a {
                                        border-radius: convert(4.96);
                                        border: convert(0.827) solid #161C28;
                                        background: #226E65;
                                        padding: convert(9.92) convert(9.92) convert(9.92) convert(9.92);

                                        img {
                                            width: convert(16.535);
                                            height: convert(16.535);
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}